body
  color: $text-color
  font-family: $serif
  line-height: 1.75

h1
  h1()

h2
  h2()

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

h1,h2,h3,h4,h5,h6
  color: $light-brown
  font-family: $sans-serif

p
  font-size: rem(16px)
  margin: 0 0 1.5em


a
  link: #229d9c