footer.Article__footer
  .Grid.Grid--center.Grid--gutters.small-grid--full
    .Grid-cell.cell--1of4
      img(src="/img/alex-profile.jpg", alt="alex rdz").img-circle
    .Grid-cell
      h6 alex rodriguez 
      p aspiring to be a great UI designer and front end developer starting late in life, this site is a journal of my efforts, hits and misses. hit me up if you have any comments or questions. i appreciate any feedback.
      a(href="https://twitter.com/share" class="twitter-share-button" data-via="drinkhorchata" data-text="re:" data-size="large") Tweet
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>