section.Journal
  .container
    h2 Journal
    p.Journal__intro-text.italics this journal is simply a collection of writings mostly for my own benefit hoping this process will allow me to digest anything i try to learn in design and front end development.
    ul.list-unstyled
      - var x = 0
      each post in page.posts.toArray()
        if x == 5
          break
        else 
          li.Project
            h3.Project__title.uppercase= post.title
            .Project__content
              p= post.excerpt
              a.italics(href=url_for(post.path)) Read More
              - x++
