section.Journal
  .container
    h2 Journal
    p.Journal__intro-text.italics i'm planning to document my new structured learning progress experimenting with and applying various techniques in time management and learning approaches as well as new technologies. these are just some of my observations, frustrations and successes. 
    ul.list-unstyled
      - var x = 0
      each post in page.posts.toArray()
        if x == 5
          break
        else 
          li.Project
            h3.Project__title.uppercase= post.title
            .Project__content
              p= post.excerpt
              a.italics(href=url_for(post.path)) Read More
              - x++
