.Grid-cell.Navigation.cell--1of4
  .Navigation__content.height-100
    .height-100
      .is-red
      .is-blue
      .is-green
      .is-yellow
    .container.text-center
      img(src="/img/skull.png", alt="alex rdz. simple. but not simplistic.").logo.animate.fade-in-up
      
      nav.sans-serif
        ul.list-unstyled
          each url, name in theme.menu
            li
              a(href="#{url}")= name
