section.Projects
  .container
    h2 Work
    ul.list-unstyled
      each page in site.pages.toArray()
        if page.path == 'work/index.html'
        else if page.path == 'about-me/index.html'
        else
          li.Project
            h3.Project__title.uppercase= page.title
            .Project__content
              p= page.excerpt
              a.italics(href=url_for(page.path)) View project
