extends base

append site_title
  | #{page.title} &mdash;&nbsp; Archives

block site_body
  include _partial/site/mobile_nav




  .Grid.small-grid--full.Page
    include _partial/site/main_nav

    .Grid-cell.Main__content
      .Main__content--inner
        .container
          section.Work
            article.Article(class=page.layout)
              header.Article__header.text-center
                p.Article--tags
                  span Hecho en Austin, TX &nbsp; &hearts; &nbsp; Con Puro Pinche Amor
                p.Article--meta.italics
                  | by alexrdz          
                h1.serif Journal Archives
              
              .Article__content
                include _partial/post/list
                include _partial/post/list_pagination
  


              include _partial/site/footer