extends base


block site_body
  .Grid.Grid--full.med-grid--1of2.Home
    .Grid-cell.Hero
      .Hero__content
        .Grid.height-100
          .Grid-cell.is-red
          .Grid-cell.is-blue
          .Grid-cell.is-green
          .Grid-cell.is-yellow

        .container.text-center
          img(src="/img/alexrdz-logo.png", alt="alex rdz. simple. but not simplistic.").logo.animate.fade-in-up
          h1.animate.fade-in-down.delay-1 hi, i'm alex
          p.animate.fade-in-up.delay-2 i design + develop websites for small businesses, artists, nonprofits and other nice people.
            <br><br>
            //- a(href="#contact").button.is-large.is-green Continue 
            a(href="#contact").js-scroll.button.is-large.is-blue Get in touch
    .Grid-cell.Main-content
      .Main-content--inner
        section.About
          .container
            h2 About
            p in order of importance and ability, i am a dedicated father and husband, cooker of mexican food, and web worker. i design + develop websites for small businesses, artists, nonprofits and other nice people. you can contact me on #[a(href="https://twitter.com/alex___rdz") twitter ] or at #[a(href='ma&#105;l&#116;o&#58;d&#114;inkhorc&#37;6&#56;&#97;ta%40g%6Da%69%6&#67;&#46;c&#111;m') dr&#105;n&#107;ho&#114;chata&#64;gma&#105;l&#46;co&#109;] i am available for freelance work and always seeking opportunities to work with great people or teams.

            p 
              a.italics(href="/about-me/") See my full bios


        include _partial/site/projects_list

        include _partial/site/journal_home

        include _partial/site/contact_form

                
