extends base

prepend site_title
  | #{page.title} &mdash;&nbsp;

block site_body
  include _partial/site/mobile_nav




  .Grid.small-grid--full.Page


    include _partial/site/main_nav


    include _partial/post/entry

              
              include _partial/site/footer
