::selection
  background: $yellow
body
  background-color: $background-color


// HOME + PAGE Preloader
.Home,.Page
  opacity(0)
.preloader
  position: fixed
  top: 35%
  left: 50%
  z-index: 900

// HERO CONTENT - LEFT SIDE
.Hero
  color: $white
  transition()

  &__content
    background-image: url('../img/alexrdz2.jpg')
    background-size: cover
    height: 100vh

    > .Grid
      left: 0
      position: absolute
      right: 0
    .container
      position: relative
    
    .logo
      margin-top: 1em
    h1
      color: $blue

.is-red
  background-color: rgba($red, 0.125)
.is-blue
  background-color: rgba($blue, 0.175)
.is-green
  background-color: rgba($green, 0.125)
.is-yellow
  background-color: rgba($yellow, 0.25)





// NAVIGATION - INNER PAGES
.Navigation
  clearfix()
  height: 100vh
  position: fixed
  right: 200%
  z-index: 100
  transition()
  .Navigation__content
    // background-color: $dark-brown
    background-image: url('../img/navbg.jpg')
    background-position: center center
    background-size: cover
    // padding-top: 3em
    position: fixed
    width: 100%
    
    > .height-100
      left: 0
      position: absolute
      right: 0
      > div
        float: left
        height: 100%
        width: 25%
      
    .container
      padding-top: 3em
      position: relative
    
    nav
      ul
        li
          padding: 1em
          a
            link: $blue

.is-active
  .Navigation
    right: 100%






// MAIN CONTENT
.Main__content

  &--header
    border-bottom: 1px solid
    
  .tag
    font-size: rem(12px)
    

  h2
    &:after
      background-color: darken($gray, 30%)
      content: ''
      display: block
      height: 1px
      margin: 0.15em 0 0.5em
      position: relative
      width: 1.5em


section
  padding-bottom: 2em
  padding-top: 2em
  &:nth-child(even)
    background-color: lighten($gray, 90%)
  .Project
    border-bottom: 1px solid rgba($gray, 0.25)
    margin-bottom: 1.5em
    padding-bottom: 1.5em
    &:last-child
      border-bottom: none
    
    &__title
      color: darken($gray, 20%)
      font-size: rem(18px)
      margin-bottom: 0.15em
    &__meta
      font-size: rem(12px)
    &__content
      p
        margin-bottom: 0.15em

p.Journal__intro-text
  font-size: rem(14px)




// ARTICLE Pages
.Article
  &__header
    border-bottom: 1px solid rgba($gray, 0.3)
    margin-bottom: 2em
    padding-bottom: 2em
    padding-top: 1em
        
    h1
      font-size: rem(24px)
      font-weight: normal

  &__meta
    color: $gray
    font-size: rem(12px)

  &__tags
    font-size: rem(12px)
    margin-left: auto
    margin-right: auto
    width: 80%
    &:after
      background-color: $gray
      content: ''
      display: block
      height: 1px
      margin: 1.5em auto 0
      position: relative
      width: 1.5em
    span
      &:after
        content: ' & '
      &:last-child
        &:after
          content: ''
  
  blockquote
    color: darken($blue, 15%)
    position: relative
     
    p
      font-size: rem(32px)
      font-style: italic
      line-height: 1.4
      &:before
        content: '“'
        font-size: rem(48px)
        position: absolute
        left: 0
        top: -30px
      // &:after
      //   bottom: -20px
      //   content: '”'
      //   font-size: rem(48px)
      //   position: absolute
      //   right: 10px

  &__footer
    border-top: 1px solid rgba($gray, 0.3)
    margin-top: 2em
    padding-top: 2em
    
    img
      max-width: 150px



// // ABOUT
// .about-me
//   background-image: url(/img/aboutbg.jpg)
//   background-size: cover



// CONTACT
.Contact
  height: 100vh
input[type="email"],
input[type="text"]
  width: 100%
textarea
  height: 30vh



// ARCHIVES
.Pagination
  > span, a
    display: inline-block
    padding: 1em