// HERO CONTENT - LEFT SIDE
.Hero

  &__content
    height: 100%
    position: fixed
    width: 50%
    background-attachment: fixed
    background-image: url('../img/alexrdz2.jpg')
    background-position: 0 -5em
    background-repeat: no-repeat
    background-size: 60%

    .logo
      margin-bottom: 40%
      margin-top: 2em





// NAVIGATION - INNER PAGES
.Navigation
  position: relative
  right: 0
  .Navigation__content
    width: 25%

.is-active
  .Navigation
    position: relative
    right: 0
    .Navigation__content
      width: 25%



// MAIN CONTENT - RIGHT SIDE
.Main-content
  
  .container
    max-width: 85%


.Article
  blockquote
    padding: 10px 25px
    p
      margin-bottom: 0
      padding: 30px
      &:before
        top: 40px

